<div class="card border-secondary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-secondary">
        <h5 class="card-title">Listado de clientes</h5>
        <div class="my-2 text-left">
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" class="btn btn-rounded btn-primary" [routerLink]="['/clientes/form']">Crear cliente</button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col" width="10%">IMAGEN</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDO</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">FECHA</th>
                        <th scope="col" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_USER') ">DETALLE</th>
                        <th scope="col" *ngIf="authService.hasRole('ROLE_ADMIN')"> EDITAR</th>
                        <th scope="col" *ngIf="authService.hasRole('ROLE_ADMIN')">ELIMINAR</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente  of listaCientes">
                        <td>
                            <img *ngIf="cliente?.foto" [src]="obtenerRutaImagen(cliente)" alt="{{cliente.foto}}" class="img-thumbnail rounded">
                            <img *ngIf="!cliente?.foto" src="assets/img/no_disponible.jpg" alt="imagen no disponible" class="img-thumbnail rounded">
                        </td>
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.apellido | uppercase}}</td>
                        <td>{{cliente.email}}</td>
                        <td>{{cliente.createAt | date:"EEEE dd, MM yyyy" }}</td>
                        <td>
                            <!--[routerLink]="['/clientes/detalle/',cliente.id]"-->
                            <button *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_USER') " type="button" name="button" class="btn btn-success" (click)="mostrarDetalle(cliente)">Detalle</button> </td>

                        <td *ngIf="authService.hasRole('ROLE_ADMIN')"> <button type="button" name="button" class="btn btn-primary" [routerLink]="['/clientes/form/',cliente.id]">Editar</button> </td>
                        <td *ngIf="authService.hasRole('ROLE_ADMIN')"> <button type="button" name="eliminar" class="btn btn-danger" (click)="eliminarCliente(cliente)">Eliminar</button> </td>

                    </tr>
                </tbody>
                <tfoot style="width: 100%;">
                    <div style="width: 100%;" class="alert alert-info" *ngIf="listaCientes?.length === 0"> No existen registros en la base de datos</div>
                </tfoot>
            </table>
        </div>
        <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>
    </div>
    <p-dialog header="Detalle del cliente" [(visible)]="esMostrarDetalle" [modal]="true" [responsive]="true" (onHide)="cerrarModalDetalle()">
        <app-detalle-cliente *ngIf="esMostrarDetalle" [cliente]="clienteSeleccionado"></app-detalle-cliente>
    </p-dialog>
</div>