<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/banner-ico.png" width="30" height="30" alt=""> CLIENTES APP
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="clientes">Clientes</a>
            </li>

        </ul>
        <ul class="navbar-nav navbar-right">
            <li *ngIf="!authService.isAuthenticated()">
                <a routerLink="login" class="btn btn-outline-primary">Login</a>
            </li>
            <li class="dropdown" *ngIf="authService.isAuthenticated()">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{authService.usuario.username}} 
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <button class="dropdown-item" type="submit" (click)="logout()"> Cerrar Sesión</button>
                </div>
            </li>
        </ul>
    </div>
</nav>